.hiw-back{
    background-color: #fff4d9;
    padding: 10vh 0;
}
.hiw-back>.container>.col-12{
    padding: 10vh 0 5vh !important;
}
.hiw-back>.container> .row> .col> .card{
    padding: 3vh 3vh 0vh 3vh;
    background-color: transparent !important;
    border-color: transparent !important;
}
.hiw-back>.container> .row> .col> .card>.card-img{
    height: 36vh;
    padding: 3vh 0;
}
.hiw-back>.container> .row> .col> .card> h6{
    font-size: 18px;
}