#two-pic {
    width: 100%;
    height: 70vh;
    margin-top: 70px;
  }

  @media (min-width: 1024px) {
    #two-col {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    #two-col {
      height: 100vh;
      padding: 10vh;
    }
    #two-col .animated {
      -webkit-animation: none;
      animation: none;
    }
    #two-col .two-col-img {
      text-align: center;
    }
    #two-col .two-col-img img {
      width: 40%;
    }
  }
  
  @media (max-width: 768px) {
    #two-col {
      margin-top: 20px;
    }
    #two-col .two-col-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #two-col .two-col-img img {
      width: 80%;
    }
  }
 